<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col">
            <div style="word-wrap: break-word;" class="alert alert-danger word-wrap" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <% if(process.env.NODE_ENV!=="production" ) { %>
                    <%= err.stack %>
                        <% } %>
            </div>
        </div>
    </div>